div.container {
width:960px;
margin:25px;
}
ul#list-nav {
list-style:none; 
margin:20px;
padding:0;
width:545px;
float:right;
}
ul#list-nav li {
display:inline
}

ul#list-nav li a {
text-decoration:none;
padding:5px 0;
width:100px;
background:#000000;
color:#ffffff;
float:left;
text-align:center;
border-left:1px solid gray;
border-right:1px solid gray;
}

ul#list-nav li a:hover {
background:#ffffff;
color:#000000
}
 .bgimg{
    background-image: url(http://us.123rf.com/400wm/400/400/jameschipper/jameschipper1102/jameschipper110200018/8864117-under-construction-background.jpg);
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    }

div#body
{
margin:20px;
height:100px;
width:525px;
text-align:center;
border:2px solid #ffffff;
}

div#logo {
float: left;
background-image: url('http://i365.photobucket.com/albums/oo97/Ganning4/cooltext689627199.png');
width: 400px;
height: 100px;
background-repeat: no-repeat;
left: 35%;
bottom: 70%;

}

div#box {
padding: 15px;
width: 500px;
outline: 1px gray;
color: white;
height: 500px;
text-align: left;
position: relative;
float: left;
background-color: black;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
opacity:0.9;
  filter:alpha(opacity=90); /* For IE8 and earlier */

}

#footer {
clear: both;
background:whitesmoke;
text-align: center;
}
