div.container {
height:100%;
width:715px;
margin-left: 300px;
border-left: 5px solid gray;
border-right: 5px solid gray;
}
#list-nav {
list-style:none; 
margin:20px;
padding:0;
width:545px;
float:right;
}
#list-nav li {
display:inline
}

#list-nav li a {
text-decoration:none;
padding:5px 0;
width:100px;
background: #cedce7; /* Old browsers */
background: -moz-linear-gradient(top, #cedce7 0%, #596a72 0%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(0%,#596a72)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 0%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cedce7 0%,#596a72 0%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cedce7 0%,#596a72 0%); /* IE10+ */
background: linear-gradient(top, #cedce7 0%,#596a72 0%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */

color:#ffffff;
float:left;
text-align:center;
border:1px solid gray;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

ul#list-nav li a:hover {
background: #cedce7; /* Old browsers */
background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cedce7 0%,#596a72 100%); /* IE10+ */
background: linear-gradient(top, #cedce7 0%,#596a72 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */

color:#000000
}
 .bgimg{
    background-image: url(http://www.tellercanyon.com/under-construction-icon.jpg);
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    }

div#body
{
margin:20px;
height:100px;
width:525px;
text-align:center;
border:2px solid #ffffff;
}

div#logo {
float: left;
background-image: url('http://i365.photobucket.com/albums/oo97/Ganning4/cooltext689627199.png');
width: 400px;
height: 100px;
background-repeat: no-repeat;
left: 35%;
bottom: 70%;

}

div#box {
padding: 15px;
width: 500px;
outline: 1px black;
color: black;
height: 500px;
text-align: left;
float: left;
left: 120px;
margin-bottom: 25px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
}

#footer {
clear: both;
background:darkgray;
text-align: center;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
left:25px;
right:25px;
margin-top: 5px;
}


.bobby-comments {
	margin: 1em auto;
	background-color: #ff00ff;
	padding: 1em;
	border: 1px solid #ddd;
}
